.p1{
    font-weight: 700;
    font-size: 16px;
}

.p2{
    font-size: 13px;
    margin: 5px 0px 5px 0px;
}

.p3{
    font-size: 13px;
    margin: 5px 0px 5px 0px;
}

/* Make text smaller on smaller screens */

@media (max-width: 800px) {
 .p1 {
        font-size: 12px; /* Reduce title font size */
    }

    .p2, .p3 {
        font-size: 10px; /* Reduce channel/stats font size */
        margin: 3px 0; /* Adjust margin slightly */
    }
}

@media (min-width: 801px) and (max-width: 999px) {
  .p1 {
        font-size: 14px; /* Reduce title font size */
    }

    .p2, .p3 {
        font-size: 12px; /* Reduce channel/stats font size */
        margin: 6px 0; /* Adjust margin slightly */
    }
}

@media (min-width: 1000px) {
 .p1 {
        font-size: 16px; /* Reduce title font size */
    }

    .p2, .p3 {
        font-size: 13px; /* Reduce channel/stats font size */
        margin: 3px 0; /* Adjust margin slightly */
    }
    

}