.search-bar{
    font-size: 20px;
    margin-left: 30px;
    display: block;
}

.nav_bar{
    height: 55px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgb(203, 203, 203) ;
    z-index: 10;
}

.left{
    display: flex;
    align-items: center;
}

.menu{
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.logo{
    height: 55px;
    
}

.middle{
    flex: 1;
    margin-left: 50px;
    margin-right: 100px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

#search_bar{
    font-size: 16px;
    flex: 1;
    height: 32px;
    padding-left: 10px;
    border-radius: 2px;
    border: gray 1px solid;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5);
    width: 0;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.5); 
    min-width: 0; /* Allow search bar to shrink */
}

.search-btn{
    width: 45px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: gray 1px solid;
    transition: opacity 0.3s;
    cursor: pointer;
}


#search_btn{
    height: 20px;
    
}

.search_btn{
    position: relative;;
}

.search-btn .tooltip , .voice-btn .tooltip,.upload .tooltip, .more .tooltip, .notifications .tooltip, .profiles .tooltip {
    position: absolute;
    bottom: -15px;
    background-color: rgb(188, 188, 188);
    color: white;
    padding: 2px 4px 4px 2px;
    border-radius: 2px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.search-btn:hover .tooltip, .voice-btn:hover .tooltip,.upload:hover .tooltip,.more:hover .tooltip, .notifications:hover .tooltip, .profiles:hover .tooltip {
    opacity: 1;
}

.voice-btn{
    width: 35px;
    height: 32px;
    border: none;
    background-color: rgba(255, 255, 255, 0.712);
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#voice_btn{
    height: 24px;
}


.right{
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

#right-icon{
    height: 24px;
    
}

.notifications{
    position: relative;
}

.num3{
    background-color: red;
    color: white;
    font-size: 11px;
    border-radius: 50%;
    position: absolute;
    padding: 0px 5px 0px 5px;
    top: -3px;
    right: -3px;

}

#profile-logo{
    height:  30px;
    border-radius: 50%;
}
 
/* Responsive adjustments for header */
@media (max-width: 768px) {
    .nav_bar {
        padding-left: 10px; /* Add some padding to the nav bar itself */
        padding-right: 10px;
    }
    .logo {
        height: 40px; /* Reduce logo size */
    }

    .left .menu {
        margin-left: 0; /* Reduce margin for menu icon */
        margin-right: 10px;
    }

    .middle {
        margin-left: 10px; /* Reduce margins for middle section */
        margin-right: 10px;
        max-width: none; /* Remove max-width constraint to allow it to fill space */
    }

    #search_bar {
        width: 100%; /* Ensure it takes full width within its flex container */
    }

    .right {
        width: auto; /* Allow width to be determined by content */
        justify-content: flex-end; /* Align items to the end */
        gap: 10px; /* Add some gap between icons */
    }

}

 
