@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(237, 237, 237);
    padding-left: 210px;
    padding-top: 70px;
}






